:root {
    --navy: #15181f;
    --darknavy: #0a0d12;
    --darkgrey: #38383e;
    --lightgrey: #9e9e9e;
    --white: #ffffff;
    --electricblue: #49bec2;
    --electricbluergb: 73, 190, 194;
}

body {
    background-color: var(--navy);
    color: var(--lightgrey);
}

.header {
    padding: 1rem 5% 1rem 5%;
    margin: auto 0;
    height: 100%;
}

.emphasis {
    color: var(--white);
}

.resume {
    height: 100vh;
    overflow-y: scroll;
    padding: 0 5% 0 5%;
}

.nav-section {
    margin-top: 2rem;
}

.accordion {
    background-color: var(--navy);
    color: var(--lightgrey);
    cursor: pointer;
    padding: 14px;
    width: 100%;
    text-align: left;
    border: none;
    border-bottom: 1px solid var(--lightgrey);
    transition: 0.4s;
}

.accordion p {
    margin-bottom: 0;
}

.accordion:hover {
    background-color: var(--darknavy);
}

.accordion.active {
    background-color: var(--darknavy);
}

.logos {
    width: 25px;
    margin-right: 8px;
    margin-bottom: 5px;
}

.outlineButton {
    background-color: transparent;
    color: var(--electricblue);
    border: 2px solid var(--electricblue);
    border-radius: 10px;
}

.outlineButton:hover {
    background-color: var(--electricblue);
    color: var(--navy);
}

.panel {
    padding: 0 18px;
    background-color: var(--navy);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.panel ul {
    margin: 0.5rem 0 0.5rem 0;
    padding-left: 0.5rem;
}

.skills {
    background-color: rgba(var(--electricbluergb), 0.2);
    color: var(--electricblue);
    padding: 0px 0.5rem;
    border-radius: 20px;
    display: inline-block;
}

.bi {
    -webkit-text-stroke: 1px;
    color: var(--lightgrey);
}

.projects {
    width: 100%;
}

.project {
    margin: 1rem 0 1rem 0;
}

.project a {
    text-decoration: none;
}

.project a:hover {
    color: var(--electricblue);
}

.project .bi {
    color: inherit;
}

#me {
    width: 200px;
    float: left;
    margin: 0 1.5rem 1rem 0;
    border-radius: 20px;
}

#logoFull, #logoSmall {
    max-height: 40px;
    float: right;
    margin: 1rem;
}

/* BREAKPOINT RESPONSIVENESS */

@media (max-width: 425px){
    #me {
        width: 100px;
        margin: 0 0.5rem 0.5rem 0;
    }
}

@media (min-width: 992px) {
    #logoFull {
        display: inline-flex;
    }

    #logoSmall {
        display: none;
    }
}

@media (max-width: 991px) {
    .projects {
        margin-bottom: 0.5rem;
    }

    #logoFull {
        display: none;
    }

    #logoSmall {
        display: block;
    }
}
