:root {
    --navy: #15181f;
    --darknavy: #0a0d12;
    --darkgrey: #38383e;
    --lightgrey: #807a81;
    --white: #ffffff;
    --electricblue: #49bec2;
}

body {
    background-color: var(--navy);
    color: var(--white);
}

.header {
    position: fixed;
}

.resume {
    height: 100vh;
    overflow-y: scroll;
}

.accordion {
    background-color: var(--navy);
    color: var(--white);
    cursor: pointer;
    padding: 14px;
    width: 100%;
    text-align: left;
    border: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    /* transition: 0.4s; */
}

.accordion p {
    margin-bottom: 0;
}

.accordion:hover {
    background: var(--darknavy);
}

.accordion.active {
    background-color: var(--darknavy);
}

.logos {
    width: 25px;
    margin-right: 8px;
    margin-bottom: 5px;
}

.panel {
    padding: 0 18px;
    background-color: var(--navy);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.panel ul {
    margin: 0.5rem 0 0.5rem 0;
    padding-left: 0.5rem;
}

.skills {
    color: var(--electricblue);
    padding: 0px 0.5rem;
    border-radius: 20px;
    display: inline-block;
    border: 2px solid var(--electricblue);
}

.bi {
    -webkit-text-stroke: 2px;
    color: white;
}

#me {
    /* max-height: 200px; */
    max-width: 100%;
    border-radius: 10px;
}

/* BREAKPOINT RESPONSIVENESS */

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
   
}

@media (max-width: 576px) {
   
}